body {
  font-family: Arial, sans-serif;
  background: linear-gradient(#bff46f, #64fa74, #33fcb5);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;  
}

.circle {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #fff;
}


#container {
  width: 80%;
  text-align: center;
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}



h1 {
  color: #333;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5H7z" fill="%23333" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #eb4d4b;


  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
}

#result {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}