body {
    background: linear-gradient(135deg, #f5f5f5, #c7ecee); /* Gradient from light gray to light blue */
}

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;  
  }
  
  .circle {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background-color: #fff;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    max-width: 800px;
    margin: 0 auto;
}

#search-recipe {
    margin: 10px;
    border-radius: 20px;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.container button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    height: 50px;
}

.container button:hover {
    background-color: #45a049;
}

.container button:not(:last-child) {
    margin-right: 10px;
}

.container.hidden {
    display: none;
}

.container label, 
.container input[type = "text"],
.container button {
    font-size: 1.2rem;
}

#display-recipe {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted min and max width */
    gap: 20px;
    justify-items: center; /* Center the content horizontally */
}

.recipe-card {
    flex-direction: column;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    width: 100%; /* Ensure each card takes full width */
}

.recipe-card #display-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.recipe-card img {
    width: 100%; /* Ensure the image takes full width */
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 8px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.recipe-card p {
    margin-bottom: 5px;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}


.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #45a049;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}

.subtitle>a {
    text-decoration: none;
    color: white;
}
